.header-block {
  background: lightgreen; }
  .header-block .header-block-main {
    display: flex;
    align-items: center;
    height: 7vh; }
    .header-block .header-block-main .logo-block {
      margin-right: 40px; }
    .header-block .header-block-main .logo-text {
      margin: 0; }
    .header-block .header-block-main .menu-block {
      display: flex;
      margin-left: auto;
      margin-bottom: 0;
      list-style-type: none; }

.meet-brandi-block {
  background: green;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../images/forest.jpg);
  background-size: cover; }
  .meet-brandi-block .meet-brandi-block-main {
    color: white; }
    .meet-brandi-block .meet-brandi-block-main p {
      text-align: center; }
    .meet-brandi-block .meet-brandi-block-main .social-icons {
      padding-top: 40px;
      padding-left: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between; }

.features-block {
  background: #dedede;
  height: auto; }
  .features-block .features-block-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #00B996; }
  .features-block .features-options {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 40px; }
    .features-block .features-options .features-block-option {
      width: 30%;
      height: auto;
      display: flex; }
      .features-block .features-options .features-block-option .features-icon {
        padding-right: 10px;
        color: #00B996;
        font-size: 30px; }
        .features-block .features-options .features-block-option .features-icon .features-text-title {
          padding-bottom: 20px; }

.works-block-main {
  text-align: center; }
  .works-block-main .works-block-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #00B996; }
  .works-block-main .works-block-menu {
    display: flex;
    display: inline-block;
    padding: 0; }
    .works-block-main .works-block-menu li {
      display: inline-block;
      list-style-type: none;
      padding: 40px 20px; }
      .works-block-main .works-block-menu li a {
        text-decoration: none;
        color: black;
        padding: 8px 15px; }
        .works-block-main .works-block-menu li a:hover {
          color: white;
          background: #00B996;
          transition: 0.5s;
          border-radius: 10%; }

.pictures-block {
  width: 100%; }
  .pictures-block .pictures-first {
    display: flex; }
    .pictures-block .pictures-first .picture {
      width: 25%;
      height: 200px;
      background-image: url(../images/bird.jpg);
      background-size: cover; }
  .pictures-block .pictures-second {
    display: flex; }
    .pictures-block .pictures-second .picture1 {
      width: 25%;
      height: 200px;
      background-image: url(../images/pinyon.jpg);
      background-size: cover; }

/*# sourceMappingURL=mainn.css.map */
