.header-block {
  background: rgba(0, 229, 78, 0.1);
  width: 100%;
  position: fixed;
  z-index: 10; }
  .header-block .header-block-main {
    display: flex;
    align-items: center;
    height: 53px; }
    .header-block .header-block-main .logo-block {
      margin-right: 40px;
      text-decoration: none;
      color: white;
      font-size: 30px; }
    .header-block .header-block-main .logo-text {
      margin: 0;
      color: white; }
    .header-block .header-block-main .menu-block {
      display: flex;
      margin-left: auto;
      margin-bottom: 0;
      list-style-type: none; }
      .header-block .header-block-main .menu-block li {
        padding-left: 10px; }
        .header-block .header-block-main .menu-block li a {
          text-decoration: none;
          color: white; }

.meet-brandi-block {
  width: 100%;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../images/forest.jpg);
  background-size: cover; }
  .meet-brandi-block .meet-brandi-block-main {
    color: white; }
    .meet-brandi-block .meet-brandi-block-main p {
      text-align: center; }
    .meet-brandi-block .meet-brandi-block-main .social-icons {
      padding-top: 40px;
      padding-left: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between; }
      .meet-brandi-block .meet-brandi-block-main .social-icons li a {
        text-decoration: none;
        color: white; }

.features-block {
  background: #dedede;
  width: 100%;
  height: auto; }
  .features-block .features-block-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #00B996; }
  .features-block .features-options {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 40px; }
    .features-block .features-options .features-block-option {
      height: auto;
      display: flex; }
      .features-block .features-options .features-block-option .features-icon {
        padding-right: 10px;
        color: #00B996;
        font-size: 30px; }
        .features-block .features-options .features-block-option .features-icon .features-text-title {
          padding-bottom: 20px; }

.works-block {
  width: 100%;
  height: auto; }
  .works-block .works-block-main {
    text-align: center; }
    .works-block .works-block-main .works-block-title {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #00B996; }
    .works-block .works-block-main .works-block-info {
      margin-bottom: 40px; }
    .works-block .works-block-main ul {
      display: flex;
      justify-content: center; }
    .works-block .works-block-main .tab-content .bird-pictures {
      display: flex; }
      .works-block .works-block-main .tab-content .bird-pictures .picture {
        width: 25%;
        height: 250px;
        background-image: url(../images/bird.jpg);
        background-size: cover; }
    .works-block .works-block-main .tab-content .apple-pictures {
      display: flex; }
      .works-block .works-block-main .tab-content .apple-pictures .picture {
        width: 25%;
        height: 250px;
        background-image: url(../images/apple.jpeg);
        background-size: cover; }

.team-block {
  width: 100%;
  height: auto; }
  .team-block .team-block-main {
    text-align: center; }
    .team-block .team-block-main .team-block-title {
      padding-top: 40px;
      padding-bottom: 40px;
      color: #00B996; }
    .team-block .team-block-main .team-block-text {
      padding-bottom: 40px; }
    .team-block .team-block-main .team-members {
      padding-bottom: 40px; }
      .team-block .team-block-main .team-members .team-member {
        height: auto; }
        .team-block .team-block-main .team-members .team-member .member-photo {
          height: 250px;
          margin-bottom: 15px; }
        .team-block .team-block-main .team-members .team-member .member-job {
          font-size: 13px; }

.facts-block {
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url(../images/city.jpg);
  background-size: cover; }
  .facts-block .facts-main {
    padding-bottom: 40px; }
    .facts-block .facts-main .facts-block-title {
      padding-top: 40px;
      padding-bottom: 40px;
      color: #00B996; }
    .facts-block .facts-main .facts-items .facts-item .facts-icon {
      width: 200px;
      height: 200px;
      border: 4px solid white;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .facts-block .facts-main .facts-items .facts-item .facts-icon i {
        color: white;
        font-size: 80px; }
    .facts-block .facts-main .facts-items .facts-item .facts-info {
      color: white;
      font-size: 40px; }
    .facts-block .facts-main .facts-items .facts-item .facts-text {
      color: white;
      font-size: 15px; }

.discuss-block {
  width: 100%;
  height: auto; }
  .discuss-block .discuss-main {
    padding-bottom: 40px;
    padding-top: 40px; }
    .discuss-block .discuss-main .upper-block {
      text-align: center;
      padding-bottom: 40px; }
      .discuss-block .discuss-main .upper-block .discuss-title {
        padding-bottom: 40px;
        color: #00B996; }
    .discuss-block .discuss-main .lower-block {
      display: flex; }
      .discuss-block .discuss-main .lower-block .some-text {
        height: auto; }
        .discuss-block .discuss-main .lower-block .some-text .upper-text {
          padding-bottom: 20px;
          margin: 0; }
        .discuss-block .discuss-main .lower-block .some-text .lower-text {
          margin: 0; }
      .discuss-block .discuss-main .lower-block .say-hello-block {
        height: auto;
        padding: 0 10px; }
        .discuss-block .discuss-main .lower-block .say-hello-block .input-title {
          padding-bottom: 20px;
          margin: 0; }
        .discuss-block .discuss-main .lower-block .say-hello-block .upper-input {
          padding-bottom: 20px; }
          .discuss-block .discuss-main .lower-block .say-hello-block .upper-input input {
            width: 49%;
            background: none;
            border: none;
            border-bottom: 2px solid grey;
            padding: 0 10px; }
        .discuss-block .discuss-main .lower-block .say-hello-block .lower-input {
          padding-bottom: 10px; }
          .discuss-block .discuss-main .lower-block .say-hello-block .lower-input input {
            width: 98.5%;
            background: none;
            border: none;
            border-bottom: 2px solid grey;
            padding: 0 10px; }
        .discuss-block .discuss-main .lower-block .say-hello-block .message-button {
          display: flex;
          margin-left: auto;
          margin-bottom: 0;
          justify-content: flex-end; }
          .discuss-block .discuss-main .lower-block .say-hello-block .message-button .button {
            background: none;
            border: none; }
            .discuss-block .discuss-main .lower-block .say-hello-block .message-button .button i {
              color: #00B996; }
      .discuss-block .discuss-main .lower-block .icons-block {
        height: auto; }
        .discuss-block .discuss-main .lower-block .icons-block li {
          list-style: none;
          margin-bottom: 10px; }
          .discuss-block .discuss-main .lower-block .icons-block li i {
            color: grey;
            font-size: 20px; }

.map-block {
  width: 100%;
  height: 227px; }
  .map-block iframe {
    width: 100%;
    height: 100%; }

.footer {
  width: 100%;
  height: auto;
  background: #00B996; }
  .footer .footer-main {
    padding: 40px 0;
    color: white;
    display: flex;
    justify-content: space-between; }
    .footer .footer-main .footer-text-block1 {
      height: auto; }
      .footer .footer-main .footer-text-block1 .block1-title {
        font-size: 30px;
        padding-bottom: 20px; }
    .footer .footer-main .footer-text-block2 {
      height: auto; }
      .footer .footer-main .footer-text-block2 select {
        margin-bottom: 20px; }
    .footer .footer-main .footer-text-block3 {
      height: auto; }
      .footer .footer-main .footer-text-block3 ul {
        padding: 0;
        margin: 0; }
        .footer .footer-main .footer-text-block3 ul li {
          margin-bottom: 20px;
          list-style-type: none; }
    .footer .footer-main .footer-text-block4 {
      height: auto; }
      .footer .footer-main .footer-text-block4 .text {
        margin-bottom: 40px; }
      .footer .footer-main .footer-text-block4 .email {
        color: black; }

@media screen and (max-width: 767px) {
  .header-block .logo-text {
    display: none; }
  .header-block .menu-block li {
    display: none; }

  .works-block ul {
    display: none; }

  .works-block-title {
    padding: none; } }
@media screen and (max-width: 991px) {
  .features-block-option {
    margin-bottom: 25px; }

  .features-options .col-12:last-child .features-block-option {
    margin-bottom: 0; }

  .team-member {
    margin-bottom: 25px; }

  .facts-item {
    margin-bottom: 30px; }

  .some-text {
    margin-bottom: 25px; }

  .say-hello-block {
    margin-bottom: 25px; }

  .icons-block {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0; }
    .icons-block li {
      margin-bottom: 0; }

  .works-block .works-block-main ul {
    display: none; }
  .works-block .works-block-main .works-block-info {
    margin-bottom: 0; }
  .works-block .works-block-main .tab-content .bird-pictures {
    display: none; }

  .team-members .col-xs-6:last-child .team-member {
    margin-bottom: 0; }

  .facts-items .col-12:last-child .facts-item {
    margin-bottom: 0; }

  .discuss-block .discuss-main .some-text {
    margin-bottom: 40px; }

  .footer-text-block1 {
    padding-bottom: 35px; }

  .footer-text-block2 {
    padding-bottom: 35px; }

  .footer-text-block3 {
    padding-bottom: 35px; } }

/*# sourceMappingURL=main.css.map */
