.header-block
	background: rgba(0, 229, 78, 10%)
	width: 100%
	position: fixed
	z-index: 10
	.header-block-main
		display: flex
		align-items: center
		height: 53px
		.logo-block 
			margin-right: 40px
			text-decoration: none
			color: white
			font-size: 30px
		.logo-text
			margin: 0
			color: white
		.menu-block
			display: flex
			margin-left: auto
			margin-bottom: 0
			list-style-type: none
			li 
				padding-left: 10px
				a 
					text-decoration: none
					color: white


.meet-brandi-block
	width: 100%
	height: 530px
	display: flex
	justify-content: center
	align-items: flex-end
	background-image: url(../images/forest.jpg)
	background-size: cover
	.meet-brandi-block-main
		color: white
		p 
			text-align: center
			
		.social-icons
			padding-top: 40px
			padding-left: 0
			list-style-type: none
			display: flex
			justify-content: space-between
			li a 
				text-decoration: none
				color: white



.features-block
	background: #dedede
	width: 100%
	height: auto
	.features-block-title
		text-align: center
		padding-top: 40px
		padding-bottom: 40px
		color: #00B996
	.features-options
		height: auto
		display: flex
		justify-content: space-between
		margin: auto
		padding-bottom: 40px
		.features-block-option
			height: auto
			display: flex
			.features-icon
				padding-right: 10px
				color: #00B996
				font-size: 30px
				.features-text-title
					padding-bottom: 20px		


.works-block
	width: 100%
	height: auto
	.works-block-main
		text-align: center
		.works-block-title
			text-align: center
			padding-top: 40px
			padding-bottom: 40px
			color: #00B996
		.works-block-info
			margin-bottom: 40px
		ul
			display: flex
			justify-content: center			
		.tab-content
			.bird-pictures
				display: flex
				.picture
					width: 25%
					height: 250px
					background-image: url(../images/bird.jpg)
					background-size: cover
			.apple-pictures
				display: flex
				.picture
					width: 25%
					height: 250px
					background-image: url(../images/apple.jpeg)
					background-size: cover


.team-block
	width: 100%
	height: auto
	.team-block-main
		text-align: center
		.team-block-title
			padding-top: 40px
			padding-bottom: 40px
			color: #00B996
		.team-block-text
			padding-bottom: 40px
		.team-members
			padding-bottom: 40px
			.team-member
				height: auto
				.member-photo
					height: 250px
					margin-bottom: 15px
				.member-job
					font-size: 13px


.facts-block
	width: 100%
	height: auto
	text-align: center
	background-image: url(../images/city.jpg)
	background-size: cover
	.facts-main
		padding-bottom: 40px
		.facts-block-title
			padding-top: 40px
			padding-bottom: 40px
			color: #00B996
		.facts-items
			.facts-item
				.facts-icon
					width: 200px
					height: 200px
					border: 4px solid white
					border-radius: 50%
					margin: 0 auto
					display: flex
					justify-content: center
					align-items: center
					i 
						color: white
						font-size: 80px
				.facts-info
					color: white
					font-size: 40px
				.facts-text
					color: white
					font-size: 15px


.discuss-block
	width: 100%
	height: auto
	.discuss-main
		padding-bottom: 40px
		padding-top: 40px
		.upper-block
			text-align: center
			padding-bottom: 40px
			.discuss-title
				padding-bottom: 40px
				color: #00B996
		.lower-block
			display: flex
			.some-text
				height: auto
				.upper-text
					padding-bottom: 20px
					margin: 0
				.lower-text
					margin: 0
			.say-hello-block
				height: auto
				padding: 0 10px
				.input-title
					padding-bottom: 20px
					margin: 0
				.upper-input
					padding-bottom: 20px
					input 
						width: 49%
						background: none
						border: none
						border-bottom: 2px solid grey
						padding: 0 10px
				.lower-input
					padding-bottom: 10px
					input 
						width: 98.5%
						background: none
						border: none
						border-bottom: 2px solid grey
						padding: 0 10px
				.message-button
					display: flex
					margin-left: auto
					margin-bottom: 0
					justify-content: flex-end
					.button 
						background: none
						border: none
						i 
							color: #00B996
						
			.icons-block
				height: auto
				li 
					list-style: none
					margin-bottom: 10px
					i 
						color: grey
						font-size: 20px


.map-block
	width: 100%
	height: 227px
	iframe 
		width: 100%
		height: 100%


.footer
	width: 100%
	height: auto
	background: #00B996
	.footer-main
		padding: 40px 0
		color: white
		display: flex
		justify-content: space-between
		.footer-text-block1
			height: auto
			.block1-title
				font-size: 30px
				padding-bottom: 20px
		.footer-text-block2
			height: auto
			select 
				margin-bottom: 20px
		.footer-text-block3
			height: auto
			ul 
				padding: 0
				margin: 0
				li 
					margin-bottom: 20px
					list-style-type: none
		.footer-text-block4
			height: auto
			.text
				margin-bottom: 40px
			.email
				color: black 

@media screen and (max-width: 767px)
	.header-block
		.logo-text
			display: none
		.menu-block
			li
				display: none

	.works-block
		ul 
			display: none

	.works-block-title
		padding: none




@media screen and (max-width: 991px)
		.features-block-option
			margin-bottom: 25px
		.features-options
			.col-12
				&:last-child
					.features-block-option
						margin-bottom: 0	

		.team-member
			margin-bottom: 25px			

		.facts-item
			margin-bottom: 30px

		.some-text
			margin-bottom: 25px

		.say-hello-block
			margin-bottom: 25px

		.icons-block
			display: flex
			justify-content: space-between
			padding: 0
			margin-bottom: 0
			li 
				margin-bottom: 0

		.works-block
			.works-block-main
				ul 
					display: none
				.works-block-info
					margin-bottom: 0
				.tab-content
					.bird-pictures
						display: none
						

		.team-members
			.col-xs-6
				&:last-child
					.team-member
						margin-bottom: 0


		.facts-items
			.col-12
				&:last-child
					.facts-item
						margin-bottom: 0


		.discuss-block
			.discuss-main
				.some-text
					margin-bottom: 40px


		.footer-text-block1
			padding-bottom: 35px


		.footer-text-block2
			padding-bottom: 35px


		.footer-text-block3
			padding-bottom: 35px


